.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
  }
  
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 24px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo h1 {
    color: #2a1ce8;
    font-family: 'Pacifico', cursive;
    cursor: pointer;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .blood-report-btn {
    background-color: #4d43e6;
    height:50px;
    width:225px;
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  .search-dash-container{
    width:50%;
    border-radius: 2000px;
    padding: 5px 15px;
    font-size: 16px;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .profile-icon {
    width: 48px;
    height: 48px;
    background-color: #f7931e;
    border-radius: 100%;
    /* padding: 10px; */
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .profile-name {
    color: black;
  }
  .logout-btn {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

.logout-btn:hover {
    background-color: #ff1a1a;
}

.logout-btn:focus {
    outline: none;
}
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
  }
  

  
  